<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
    <div class="signature">
      <img
        class="footer_signature"
        src="assets/signature_footer.png"
        alt=""
        srcset=""
      />
    </div>
    <div class="footer_bg">
      <div class="footer_bg_one"></div>
      <div class="footer_bg_two"></div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-7">
          <p class="mb-0 f_400">
            © SonorousFES {{ currentYear }} All rights reserved.
          </p>
        </div>
        <div class="col-lg-6 col-sm-5 text-right">
          <p>
            Made with
            <i class="fa fa-heartbeat" style="color: rgb(238, 93, 93);"></i> by
            <a href="">tharudg1</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
