<nav class="header" id="header">
  <div class="logo">
    <img src="assets/logo.png" class="logo__img" alt="" srcset="" />
    <img src="assets/sonorousfes.png" alt="" class="logo__name" />
  </div>
  <ul class="nav-links">
    <li>
      <a
        [routerLinkActive]="['active']"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home
        <div class="slider"></div>
      </a>
    </li>
    <li>
      <a
        [routerLinkActive]="['active']"
        routerLink="our-services"
        [routerLinkActiveOptions]="{ exact: true }"
        >Our Services
        <div class="slider"></div
      ></a>
    </li>
    <li>
      <a
        [routerLinkActive]="['active']"
        routerLink="about"
        [routerLinkActiveOptions]="{ exact: true }"
        >About us
        <div class="slider"></div
      ></a>
    </li>
  </ul>
  <button mat-flat-button class="btn-primary">
    <i class="fa fa-phone fa-size"></i> +94 77 23 28 255
  </button>

  <ul class="nav-links-sm">
    <li>
      <a
        [routerLinkActive]="['active']"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home
        <div class="slider"></div>
      </a>
    </li>
    <li>
      <a
        [routerLinkActive]="['active']"
        routerLink="our-services"
        [routerLinkActiveOptions]="{ exact: true }"
        >Our Services
        <div class="slider"></div
      ></a>
    </li>
    <li>
      <a
        [routerLinkActive]="['active']"
        routerLink="about"
        [routerLinkActiveOptions]="{ exact: true }"
        >About us
        <div class="slider"></div
      ></a>
    </li>
  </ul>
</nav>
