@import "../../../styles.scss";

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  position: fixed;
  color: white;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
}

.header--scrolled {
  z-index: 3;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  // transition: all 0.2s ease-in;
  color: #5f6368;
  background-color: white;
}

.logo {
  &__img {
    height: 40px;
  }
  &__name {
    padding-left: 8px;
    height: 50px;
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0;

  li {
    padding-left: 8px;
    padding-right: 8px;
    bottom: 2px;
    top: 2px;
  }
  a {
    cursor: pointer;
    color: $black_1;

    .slider {
      bottom: 2px;
      left: 0;
      height: 1px;
      transition: width 0.8s ease;
      width: 0%;
      background-color: $black_1;
    }
  }
  a:hover {
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0;
    color: $purple;
    .slider {
      background-color: $purple;
      width: 100%;
    }
  }

  .active {
    color: $purple;
    .slider {
      background-color: $purple;
      width: 100%;
    }
  }
}

.fa-size {
  font-size: x-large;
  padding-right: 8px;
}

@media screen and (min-width: 700px) {
  .nav-links-sm {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .nav-links {
    display: none;
  }
  .nav-links-sm {
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;

    font-size: small;
    li {
      padding-left: 8px;
      padding-right: 8px;
      bottom: 2px;
      top: 2px;
    }
    a {
      cursor: pointer;
      color: $black_1;

      .slider {
        bottom: 2px;
        left: 0;
        height: 1px;
        transition: width 0.8s ease;
        width: 0%;
        background-color: $black_1;
      }
    }
    a:hover {
      text-decoration: none;
      padding-bottom: 0;
      margin-bottom: 0;
      color: $purple;
      .slider {
        background-color: $purple;
        width: 100%;
      }
    }

    .active {
      color: $purple;
      .slider {
        background-color: $purple;
        width: 100%;
      }
    }
  }
}
