@import "../../../styles.scss";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  padding-bottom: 5%;
  h2 {
    padding-top: 5vh;
    text-align: center;
  }
}
.contact-form {
  margin: 32px 10%;
  width: 60%;
  background-color: white;
  border-radius: 0.2rem;
  align-self: center;

  .form-row {
    padding: 16px 16px;
  }
  .spacing-left {
    padding-left: 32px;
  }
  .spacing-right {
    padding-right: 32px;
  }
}
.form-control {
  padding: 1.5rem 0;
  border: none;
  border-bottom: 1px solid $black_2;
  border-radius: 0;
  font-size: small;
  &:hover {
    border-bottom: 1px solid $purple;
    border-radius: 0;
  }
  &:focus {
    border-bottom: 1px solid $purple;
    box-shadow: none;
  }
}
.invalid {
  color: rgb(255, 72, 0);
}
.btn-send {
  padding: 2px 32px !important;
}
.background {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
