<section class="background">
  <div class="container">
    <h2>
      Facing Problem? <br />
      Lets Get In Touch Now
    </h2>
    <form action="send" class="contact-form" autocomplete="on">
      <div class="form-row">
        <div class="col-md-6 col-sm-12 spacing-right">
          <mat-label>First Name</mat-label>
          <input
            [class.invalid]="formElement.firstName.invalid"
            class="form-control"
            placeholder="Sudesh"
            [formControl]="formElement.firstName"
            required
          />
        </div>
        <div class="col-md-6 col-sm-12 spacing-left ">
          <mat-label>Last Name</mat-label>
          <input
            [class.invalid]="formElement.lastName.invalid"
            class="form-control"
            placeholder="Gunasekara"
            [formControl]="formElement.lastName"
            required
          />
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <mat-label>Email</mat-label>
          <input
            [class.invalid]="formElement.email.invalid"
            class="form-control"
            placeholder="sonorousfes@gmail.com"
            [formControl]="formElement.email"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <mat-label>Which related help you need ? </mat-label>
          <input
            [class.invalid]="formElement.problemFacing.invalid"
            class="form-control"
            placeholder="category"
            [formControl]="formElement.problemFacing"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <mat-label>Type your message</mat-label>
          <textarea
            [class.invalid]="formElement.message.invalid"
            class="form-control"
            placeholder="your message here"
            [formControl]="formElement.message"
            required
          ></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <button (click)="send()" mat-flat-button class="btn-primary btn-send">
            <i class="fa fa-paper-plane"></i> Send
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
