.row {
  padding-top: 16px;
  padding-bottom: 16px;

  .col-md-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.container {
  padding-bottom: 32px;
  padding-top: 32px;
}
mat-card {
  background-color: rgb(248, 248, 248);
  color: black;

  mat-card-subtitle {
    color: rgb(37, 37, 37);
  }
}
