<div class="row"></div>
<section class="container">
  <div class="row">
    <div class="col-md-8"><h4>Our Vision</h4></div>
    <div class="col-md-4">
      <img
        class="training img-fluid"
        src="assets/img/error_bg.png"
        alt=""
        srcset=""
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img
        class="training img-fluid"
        src="assets/img/error_bg.png"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-md-8"><h4>Our Mision</h4></div>
  </div>
  <div class="row">
    <div class="col-md-8"><h4>Our Company Details</h4></div>
    <div class="col-md-4">
      <img
        class="training img-fluid"
        src="assets/img/error_bg.png"
        alt=""
        srcset=""
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">Privacy</div>
    <div class="col-md-12">Policy</div>
  </div>
</section>
