<section class="error_area">
  <img class="error_shap" />
  <div class="container flex">
    <div class="error_contain text-center">
      <div class="b_text">
        <h1 class="f_p w_color f_700">Comming Soon..</h1>
      </div>
      <h2 class="f_p f_400 w_color f_size_40">Under Maintainance</h2>
      <p class="w_color f_400">
        We’re sorry, the page you have looked for under maintainance<br />
        go to our home page until its up and running?
      </p>
      <div href="#" class="about_btn btn_hover mt_40">Go Back to home Page</div>
    </div>
  </div>
</section>
