@import "../../../styles.scss";

.welcome {
  margin-top: 150px;
  justify-content: space-around;
  transform-style: preserve-3d;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    align-items: center;

    button {
      margin: 8px;
    }
  }
  .main-topic {
    align-self: center;
    width: 90%;
    text-align: center;
  }
  .sub-topic {
    align-self: center;
    text-align: center;
    width: 70%;
    color: $black_1;
    padding: 2rem;
  }

  .img-container {
    text-align: center;
  }
  .welcome_img {
    object-fit: cover;
    opacity: 0.8;
  }
}

.vision {
  margin-top: 10vh;
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    margin: 2rem 0;
    padding: 1rem;

    &__content {
      flex: 1;
      min-width: 250px;
    }
    &__img {
      flex: 1;
      text-align: center;
      img {
        width: 300px;
      }
    }

    &__title {
      padding-bottom: 8px;
    }
    &__description {
      text-justify: distribute;
    }
  }
}

.services {
  text-align: center;
  .programs {
    margin: 0 5%;
  }
  .card-group {
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .speciality-card {
      margin: 8px;
      padding: 8px;
      width: 250px;
      background: white;
    }

    .program-card {
      margin: 8px 16px;
      padding: 8px;

      width: 200px;
      background: white;
    }
    .card-img-top {
      width: 150px;
      border-radius: 50%;
      margin: 0 16px;
    }
    .card-body {
      color: $black_1;
    }
    button {
      color: $greenColor;
    }
  }
}

.client {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  flex-direction: column;

  .card {
    background-color: transparent;
    color: $black_1;
    border: none;
    box-shadow: none;
    transition: linear ease-in 0.3s;
  }
  .card-body {
    padding: 8px 10%;
    span {
      font-size: xx-large;
      font-weight: bolder;
    }
  }
  .carousel-img {
    width: 150px;
    object-fit: cover;
    height: 150px;
    border-radius: 50%;
  }
  .btn-corousal {
    width: 60px;
    height: 60px;
    margin: 8px;
    font-size: x-large;
    background-color: transparent;
    box-shadow: none;
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.section-topic {
  padding-top: 32px;
  padding-bottom: 32px;
}
