<section class="welcome container">
  <div class="content">
    <h1 class="main-topic">We Create Simple Solution For Your Complex Task</h1>
    <h6 class="sub-topic">
      Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret
      interpretaris, sed diceret concludaturque no. Verear habemus sea ut
    </h6>
    <div class="btn-area">
      <button mat-flat-button class="btn-primary">Our Services</button>
      <button mat-stroked-button class="btn-primary-stroked" color="primary">
        Contact Us
      </button>
    </div>
  </div>
  <div class="img-container">
    <img
      class="welcome_img img-fluid"
      src="assets/img/welcome_img.jpg"
      alt=""
      srcset=""
    />
  </div>
</section>
<section class="container vision">
  <div class="card">
    <div class="card__content">
      <h2 class="card__title">
        The Process <br />
        about Our Work
      </h2>

      <p class="card__description">
        orem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec
        elaboraret interpretaris, sed diceret concludaturque ndo. Verear habemus
        sea ut. His nibh scripta in. In sea vocibus facilisis. Sed vel cu paulo
        doctus vidisse. <br /><br />
        Iudico dicant nostrum nec an, in eos In detraxit eleifend duo, alterum
        iudicabit consectetuer per ad.
      </p>
    </div>
    <div class="card__img">
      <img src="assets/img/our_services.jpg" alt="" srcset="" />
    </div>
  </div>

  <div class="card">
    <div class="card__img">
      <img src="assets/img/our_services.jpg" alt="" srcset="" />
    </div>
    <div class="card__content">
      <h2 class="card__title">
        The Process <br />
        about Our Work
      </h2>

      <p class="card__description">
        orem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec
        elaboraret interpretaris, sed diceret concludaturque ndo. Verear habemus
        sea ut. His nibh scripta in. In sea vocibus facilisis. Sed vel cu paulo
        doctus vidisse. <br /><br />
        Iudico dicant nostrum nec an, in eos In detraxit eleifend duo, alterum
        iudicabit consectetuer per ad.
      </p>
    </div>
  </div>
</section>

<section class="services container">
  <h2 class="section-topic">
    What is the <br />
    Speciality Of Us?
  </h2>
  <div class="card-group">
    <mat-card class="speciality-card">
      <img
        class="card-img-top"
        src="assets/img/our_services.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Tittle</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </mat-card>

    <mat-card class="speciality-card">
      <img
        class="card-img-top"
        src="assets/img/our_services.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Tittle</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </mat-card>

    <mat-card class="speciality-card">
      <img
        class="card-img-top"
        src="assets/img/our_services.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Tittle</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </mat-card>
  </div>

  <br />

  <h2 class="section-topic">Our Owning Programs</h2>
  <p>
    Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec <br />
    habemus sea ut. His nibh scripta in. In sea vocibus facilisis.
  </p>
  <div class="card-group programs">
    <mat-card class="program-card">
      <div class="card-body">
        <h5 class="card-title">Tittle</h5>
        <p class="card-text">Some quick example text.</p>

        <button mat-button>learn more</button>
      </div>
    </mat-card>
    <mat-card class="program-card">
      <div class="card-body">
        <h5 class="card-title">Tittle</h5>
        <p class="card-text">Some quick example text.</p>

        <button mat-button>learn more</button>
      </div>
    </mat-card>
    <mat-card class="program-card">
      <div class="card-body">
        <h5 class="card-title">Tittle</h5>
        <p class="card-text">Some quick example text.</p>

        <button mat-button>learn more</button>
      </div>
    </mat-card>
    <mat-card class="program-card">
      <div class="card-body">
        <h5 class="card-title">Tittle</h5>
        <p class="card-text">Some quick example text.</p>

        <button mat-button>learn more</button>
      </div>
    </mat-card>
    <mat-card class="program-card">
      <div class="card-body">
        <h5 class="card-title">Tittle</h5>
        <p class="card-text">Some quick example text.</p>

        <button mat-button>learn more</button>
      </div>
    </mat-card>
    <mat-card class="program-card">
      <div class="card-body">
        <h5 class="card-title">Tittle</h5>
        <p class="card-text">Some quick example text.</p>

        <button mat-button>learn more</button>
      </div>
    </mat-card>
  </div>
</section>

<section class="client">
  <h2 class="section-topic">What our clients says ?</h2>

  <mat-card class="card">
    <img class="carousel-img" [src]="feedBacks[i].img" alt="Card image cap" />
    <div class="card-body">
      <p class="card-text">
        <span>"</span> {{ feedBacks[i].comment }} <span>"</span>
      </p>
      <label for="">{{ feedBacks[i].name }}</label>
    </div>
  </mat-card>

  <div>
    <button class="btn-corousal" (click)="next()" mat-fab>
      <img src="assets/icon/left-arrow.svg" alt="" srcset="" />
    </button>
    <button class="btn-corousal" (click)="previous()" mat-fab>
      <img src="assets/icon/arrow-right.svg" alt="" srcset="" />
    </button>
  </div>
</section>

<app-contact-form></app-contact-form>
