$imagePath: "/src/assets/img/error_bg.png";
.error_area {
  margin-top: 10vh;
  background-color: #5e2fed;
  background-image: -ms-linear-gradient(
    180deg,
    rgba(94, 44, 237, 0.93) 0%,
    rgba(164, 133, 253, 0.9) 100%
  );
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: 650px;
}
.error_shap {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.error_contain {
  h1 {
    font-size: 15vw;
    line-height: 14vw;
    margin-bottom: 0px;
  }
  h2 {
    letter-spacing: 12px;
    margin-bottom: 25px;
  }

  .about_btn {
    min-width: 230px;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(15, 0, 57, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(15, 0, 57, 0.1);
  }
}

.btn_hover {
  overflow: hidden;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn_hover:hover {
  color: #fff;
}
.f_700 {
  font-weight: 700;
}
.w_color {
  color: #fff;
}

.f_400 {
  font-weight: 400;
}
.f_size_40 {
  font-size: 40px;
}
.mt_40 {
  margin-top: 40px;
}

.about_btn {
  color: #5f51fb;
  font-size: 15px;
  padding: 14px 35px;
  margin-top: 28px;
  background: white;
  border: 1px solid #fff;
  color: #5f51fb;
  border-radius: 4px;
}

.about_btn:hover {
  background: transparent;

  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
