/* You can add global styles to this file, and also import other style files */

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  
  
}

$purple: #a174db;
$greenColor: #49be55;
$gray_1: #cccccc;
$gray_2: #c2c2c2;
$black_1: #666666;
$black_2: #777777;
$black_3: #222222;


.btn-primary{
  outline: none !important;
  border: 0 !important;
  color: white;
  background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: none !important;
}
.btn-primary-stroked{
  &:active,:focus{
    outline: none !important;
    border: solid 1px $purple;
  }
  outline: none !important;
  border: solid 1px $purple;
  
}
button:focus,button:active,button:visited,button::after {
  outline: none !important;
}

